.hover-shadow:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.click-feedback {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.click-feedback:active {
  transform: scale(0.98);
}

.pe-cursor {
  cursor: pointer;
}